**
!LICENSE
!NOTICE.md
!gooseberry/
!gooseberry/package.json
!gooseberry/bun.lock
!gooseberry/bunfig.toml
!gooseberry/tsconfig.base.json
!gooseberry/go.mod
!gooseberry/go.sum
!gooseberry/cmd/
!gooseberry/cmd/**
!gooseberry/internal/
!gooseberry/internal/**
!gooseberry/tests/
!gooseberry/tests/deployment/
!gooseberry/tests/deployment/git-runtime.test.sh
!gooseberry/tests/ui/
!gooseberry/tests/ui/**
!gooseberry/contracts/
!gooseberry/contracts/**
!gooseberry/webui/
!gooseberry/webui/**
**/node_modules
**/dist
**/.build
**/*_test.go
**/*.test.ts
**/*.test.tsx
**/*.tsbuildinfo
**/*.log
**/.env*
