**
!LICENSE
!NOTICE.md
!gooseberry/
!gooseberry/package.json
!gooseberry/bun.lock
!gooseberry/bunfig.toml
!gooseberry/tsconfig.base.json
!gooseberry/go.mod
!gooseberry/go.sum
!gooseberry/main.go
!gooseberry/controller/
!gooseberry/controller/**
!gooseberry/browser/
!gooseberry/browser/**
!gooseberry/contracts/
!gooseberry/contracts/**
!gooseberry/webui/
!gooseberry/webui/**
**/node_modules
**/dist
**/*_test.go
**/*.test.ts
**/*.test.tsx
**/*.tsbuildinfo
**/*.log
**/.env*
